<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="database" value="db-t1pr-GITISPRCRMexports-gitis"/>
    <add key="databaseserver" value="sqlsrv-t1pr-gitisdynamicscrmexports.database.windows.net"/>
    <add key="userid" value="venkatsqluser"/>
    <add key="password" value=""/>
    <add key="projectid" value="get-into-teaching"/>
    <add key="datasetid" value="transactions_development"/>
    <add key="sedatasetid" value="transactions_development"/>
    <add key="setablename" value="school_experience_request"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>